<footer class="mt-5 py-4 bg-light">
    <div class="container">
        <div class="d-flex justify-content-center">
            <a href="mailto:nr3764@princeton.edu" target="_blank" class="mx-3 text-dark">
                <i class="fas fa-envelope fa-2x"></i>
            </a>
            <a href="https://scholar.google.com/citations?user=Pp2YYKcAAAAJ&hl" target="_blank" class="mx-3 text-dark">
                <i class="fas fa-graduation-cap fa-2x"></i>
            </a>
            <a href="https://x.com/narutatsuri" target="_blank" class="mx-3 text-dark">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
        </div>
    </div>
</footer>