<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="col-lg-8 mx-auto d-flex flex-wrap align-items-center justify-content-between">
            <a class="navbar-brand" href="index.html">Seemron Neupane</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">                                  
                    <li class="nav-item">
                        <a class="nav-link" href="misc.html">Misc.</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>