---
layout: base.njk
pageTitle: "Misc. | Seemron Neupane"
permalink: /misc/
---

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <section class="aligned-text">
                <div class="subheaders">A bit about me</div>

                <p>I'm from Nepal, a country of mountains, prayer flags, and skies that somehow feel closer. Being surrounded by the Himalayas taught me early on to respect nature and its quiet power.</p>

                <p>Hiking is my happy place. I don't chase summits just for photos. I hike for the calm, the rhythm of my breath, and the feeling of being small in a beautiful way.</p>

                <p>I feel genuinely blessed when it comes to my family. Their support and presence have shaped who I am more than I sometimes realize.</p>

                <p>Another hill I'd die on. Sunrises in the mountains are better than sunsets anywhere else.</p>

                <p>I believe life doesn't need to be rushed. Growth can be slow, gentle, and still meaningful, just like a long walk uphill.</p>
            </section>
        </div>
    </div>
</div>
